.main {
    margin: 50px 140px 0 140px;
}

.available {
    display: flex;
    align-items: center;
    font-size: large;
}

span {
    color: green;
    font-weight: bold;
}

.hire-kajal-btn {
    color: white;
    background-color: green;
    padding: 10px 10px;
    border: none;
    border-radius: 3px;
    margin-left: 20px;
}

.hire-kajal-btn:hover {
    background-color: olivedrab;
}

strong {
    margin-right: 10px;
}

.container {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 4.5rem;
}

